<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Avtobase</display-name>
  <welcome-file-list>
    <welcome-file>/pages/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
   <!-- <display-name>Controller</display-name> -->
    <servlet-name>Controller</servlet-name>
    <servlet-class>by.htp6.avtobase.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>main</servlet-name>
    <jsp-file>/pages/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>registration</servlet-name>
    <jsp-file>/pages/registration.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  
  <listener>
  		<listener-class>by.htp6.avtobase.listener.SourceListener</listener-class>
  </listener>
  
</web-app>